/*insert css styling here*/
h1 {
	font-size: 150%;
}

.topnavibar {
  padding: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.stage-list {
  word-wrap:break-word;
  list-style-type: none;
  padding-left: 0px;
}

.jobbar {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 5px;
}


.pending {
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 3px;
}

a .remove {
	color: red;
}

a .accept {
	color: green;
}

.phone-screen-item a .remove {
	color: red;
	float: right;
	margin-right: 2%;
}

.phone-screen-item a .accept {
	color: green;
	float: right;
	margin-right: 8%;
}