/*insert css styling here*/
h1 {
	font-size: 150%;
}
.container {
  width: 100%;
}

.topnavibar {
  padding: 20px 20px 0px 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.topnavibar .mainlogo {
  height: 100px;
  width: 150px;
  display: inline-block;
}

.login-info-container {
  float: right;
}

.login-info-container img {
    border-radius: 50%;
}

.login-info-container div {
  display: inline-block;
}

.stage-heading {
  text-align: center;
  word-wrap:break-word;
  font-weight: bold;
  font-family: 'Enriqueta', arial, serif; 
  line-height: 1.25; 
  margin: 0 0 10px; 
  font-size: 19px; 
  padding: 18px 0px 12px 0px;
  letter-spacing: 0.03em;
  height: 75px;
}

.stage-list {
  word-wrap:break-word;
  list-style-type: none;
  padding-left: 0px;
}

.stageinfo {
  word-wrap:break-word;
  padding: 0px 0px 20px 0px;
}

.jobbar {
  margin: 0% 20%;
  border: 3px solid #A9A9A9;
  padding: 10px 20px 10px 20px;
  line-height: 50px;
  border-radius: 10px;
}

.jobbar button {
  float: right;
  width: 100px;
  border-radius: 10px;
}

.jobbar input {
  width: 100%;
  padding: 0px 20px;
}

.list-item-heading {
  font-weight: bold;
  font-size: 18px;
}

.list-item-heading:hover {
  text-decoration: none;
}

.accepted {
  background-color: #DFF0D8;
  border-style: solid;
  border-width: 2px;
  border-color: #A9A9A9;
  border-radius: 5px;
  padding: 0px 5px;
}

.rejected {
  background-color: #F2DEDE;
  border-style: solid;
  border-width: 2px;
  border-color: #A9A9A9;
  border-radius: 5px;
  padding: 0px 5px;
}

.pending {
  background-color: #ebebeb;
  border-style: solid;
  border-width: 2px;
  border-color: #A9A9A9;
  border-radius: 5px;
  padding: 0px 5px;
}

.form-group {
  padding: 5px 20px 5px 20px;
}

.modal-footer {
  display: block;
}

.modal-title {
  word-wrap:break-word;
  font-weight: bold;
  font-family: 'Enriqueta', arial, serif; 
  line-height: 1.25; 
  margin: 0 0 10px; 
  font-size: 21px;
}

a .remove {
	color: red;
  float: right;
  padding-top:3px;
}

a .accept {
	color: green;
}

.phone-screen-item a .remove {
	color: red;
	float: right;
	margin-right: 2%;
}

.phone-screen-item a .accept {
	color: green;
	float: right;
	margin-right: 8%;
}

@media (max-width: 767px) {
  .jobbar input {
    width: 100%;
  }
  .jobbar button {
    text-align: center;
  }
  .topnavibar .mainlogo {
  height: 100px;
  width: 150px;
  display: inline-block;
  margin: 0px 0px 0px 70px;
  }
}
