/*insert css styling here*/
h1 {
	font-size: 150%;
}

.stage-list{
  word-wrap:break-word;
  border-style: groove;
  border-color: #d3d3d3;
  border-width: 10px;
}

.accepted{
  border-style: solid;
  border-color: #00FF00;
  border-width: 3px;
}

.notaccepted{
  border-style: solid;
  border-color: #FF0000;
  border-width: 3px;
}

.pending{
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 3px;
}

a .remove {
	color: red;
}

a .accept {
	color: green;
}

.phone-screen-item a .remove {
	color: red;
	float: right;
	margin-right: 2%;
}

.phone-screen-item a .accept {
	color: green;
	float: right;
	margin-right: 8%;
}