<!-- html template for the dashboard which will have a controller in each div for each stage of the workflow -->

<!-- BEGIN: Applicaiton Backlog STAGE -->
<div class='col-sm-2 stage' ng-controller='BacklogController'>
  <h1 class='stage-heading'>Application Backlog</h1>
  <ul class="stage-list" ng-repeat='backlog in backlogs track by $index'>
    <li>
      <a href="javascript:void(0)" data-toggle='modal' data-target='#backlogModal' ng-click="clickedBacklog(backlog, $index)">{{backlog.job_title}} - {{backlog.company}}</a>
      <p>Status: {{ backlog.status }}<p>
      <p>Notes: {{ backlog.notes }}<p>
      <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-ok accept"></span>
      </a>
      <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-remove remove"></span>
      </a>
    </li>
  </ul>
</div>
<!-- END: Applicaiton Backlog STAGE -->

<!-- BEGIN: Application Submitted STAGE -->
<div class='col-sm-2 stage' ng-controller='AppSubmitController'>
  <h1 class='stage-heading'>Submitted Apps</h1>
  <ul class="stage-list" ng-repeat='appSubmit in appSubmits track by $index'>
    <li>
      <a href="javascript:void(0)" data-toggle='modal' data-target='#appSubmitModal' ng-click="clickedAppSubmit(appSubmit, $index)">{{appSubmit.job_title}} - {{appSubmit.company}}</a>
      <p>Status: {{ appSubmit.status }}<p>
      <p>Notes: {{ appSubmit.notes }}<p>
      <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-ok accept"></span>
      </a>
      <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-remove remove"></span>
      </a>
    </li>
  </ul>
</div>
<!-- END: Application Submitted STAGE -->

<div class='col-sm-2 stage' ng-controller='PhoneScreenController'>
  <h1 class='stage-heading'>Upcoming Phone Screens</h1>
  <div class="stage-list">
   <!--     NG-Repeat should look something like this --> 
    <div class="phone-screen-item">
      <a href="javascript:void(0)" data-toggle='modal' data-target='#myModal'>Software Engineer - Google</a>
      <p>
        Date: 12-08-2016
        <br>
        Time: 12:00 PM
        <br>
        Interviewer: Ty Lawson
      </p>
      <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-ok accept"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-remove remove"></span>
      </a>
    </div>
<!--     END OF NG REPEAT -->
  </div>
</div>

<div class='col-sm-3 stage' ng-controller='OnSiteController'>
  <h1 class='stage-heading'>Upcoming On-Site Interviews</h1>
  <div class="stage-list">
   <!--     NG-Repeat should look something like this --> 
    <div class="on-site-interview-item">
      <a href="javascript:void(0)" data-toggle='modal' data-target='#myModal'>Software Engineer - Google</a>
      <p>
        Date: 12-08-2016
        <br>
        Time: 12:00 PM
        <br>
        Location: 5008 Wakefield Chapel Rd Arlington VA, 20036
        <br>
        Interviewer: Ty Lawson
      </p>
      <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-ok accept"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-remove remove"></span>
      </a>
    </div>
<!--     END OF NG REPEAT -->
  </div>
</div>

<div class='col-sm-3 stage' ng-controller='OffersController'>
  <h1 class='stage-heading'>Offers</h1>
  <div class="stage-list">
   <!--     NG-Repeat should look something like this --> 
    <div class="offer-item">
      <a href="javascript:void(0)" data-toggle='modal' data-target='#myModal'>Hacker in Residence - Hack Reactor</a>
      <p>
        Salary: $9,000
        <br>
        Deadline: 12-23-2016
      </p>
      <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-ok accept"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-remove remove"></span>
      </a>
    </div>
<!--     END OF NG REPEAT -->
  </div>
</div>

<!-- End of Chou's Pull Request -->


<div id="onSite" ng-controller="OnSiteController">
  <ul class="onSiteList">
    <li ng-repeat="onSites in onSiteList track by $index">
      <div class='info'></div>

      <div class='interviewer'></div>
      <div class='datetime'></div>
      <div class='location'></div>
      <div class='status'></div>
      <div class='notes'></div>


    </li>
  </ul>
</div>

<!-- Dummy Modal can delete or replace -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Backlog Modal -->
<div id="backlogModal" class="modal fade" role="dialog" ng-controller='BacklogController'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Edit Modal</h2>
      </div>

      <form novalidate class="simple-form">
        <div class="form-group">
          <label for="notes">Notes:</label>
          <input class="form-control" type="text" ng-model="selectedBacklog.notes" />
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" name="backlogStatus" ng-model="selectedBacklog.status">
              <option value="Accepted">Accepted</option>
              <option value="Rejected">Rejected</option>
              <option value="Pending">Pending</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit" ng-click="submitChanges()" value="Save" data-dismiss="modal">Save Changes</button>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- AppSubmit Modal -->
<div id="appSubmitModal" class="modal fade" role="dialog" ng-controller='AppSubmitController'>

  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Edit Modal</h2>
      </div>

      <form novalidate class="simple-form">
        <div class="form-group">

          <label for="notes">Notes:</label>
          <input class="form-control" type="text" ng-model="selectedAppSubmit.notes" />
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" name="appSubmitStatus" ng-model="selectedAppSubmit.status">
              <option value="Accepted">Accepted</option>
              <option value="Rejected">Rejected</option>
              <option value="Pending">Pending</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit" ng-click="submitChanges()" value="Save" data-dismiss="modal">Save Changes</button>

      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>